%% Common project erlang options.
{erl_opts, [
    % mandatory
    debug_info,
    warnings_as_errors,
    warn_export_all,
    warn_missing_spec,
    warn_untyped_record,
    warn_export_vars,

    % by default
    warn_unused_record,
    warn_bif_clash,
    warn_obsolete_guard,
    warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_deprecated_function

    % at will
    % bin_opt_info
    % no_auto_import
    % warn_missing_spec_all
]}.

%% Common project dependencies.
{deps, [
    {genlib, {git, "https://github.com/rbkmoney/genlib.git", {branch, "master"}}},
    {bouncer_proto, {git, "https://github.com/rbkmoney/bouncer-proto", {branch, "master"}}},
    {org_management_proto, {git, "git@github.com:rbkmoney/org-management-proto.git", {branch, "master"}}},
    {scoper, {git, "https://github.com/rbkmoney/scoper", {branch, master}}},
    {woody, {git, "https://github.com/rbkmoney/woody_erlang", {branch, master}}}
]}.

%% XRef checks
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_functions_calls,
    deprecated_functions
]}.

% at will
% {xref_warnings, true}.

%% Tests
{cover_enabled, true}.

{dialyzer, [
    {warnings, [
        % mandatory
        unmatched_returns,
        error_handling,
        race_conditions,
        unknown
    ]},
    {plt_apps, all_deps}
]}.

{plugins, [
    {erlfmt, "1.0.0"},
    {rebar3_lint, "0.5.0"}
]}.

{erlfmt, [
    {print_width, 120},
    {files, "{src,include,test}/*.{hrl,erl}"}
]}.

{elvis, [
    #{
        dirs => ["src"],
        filter => "*.erl",
        ruleset => erl_files,
        rules => [
            {elvis_text_style, line_length, #{limit => 120}}
        ]
    },
    #{
        dirs => ["test"],
        filter => "*.erl",
        ruleset => erl_files,
        rules => [
            {elvis_text_style, line_length, #{limit => 120}},
            % Tests are usually more comprehensible when a bit more verbose.
            {elvis_style, dont_repeat_yourself, #{min_complexity => 20}}
        ]
    },
    #{
        dirs => ["."],
        filter => "rebar.config",
        rules => [
            {elvis_text_style, line_length, #{limit => 120}},
            {elvis_text_style, no_tabs},
            {elvis_text_style, no_trailing_whitespace}
        ]
    }
]}.
